@import 'src/styles/tools/tools.mediaquery';

@mixin materialDialogOverrides() {

	.mat-dialog {

		&-my-account-forgot-password {
			width: 90%;
			height: 90%;

			@include mq-breakpoint-sm() {
				width: 500px !important;
				height: auto;
			}
		}
	}
}
