$base-palette: (
	50: #fff,
	100: #7c7c7c,
	200: #6e6e6e,
	300: #606060,
	400: #535353,
	500: #454545,
	600: #373737,
	700: #292929,
	800: #1c1c1c,
	900: #0e0e0e,
	A100: #ffffff,
	A200: #5a5a5a,
	A400: #292929,
	A700: #222222,
	contrast: (
		50: #0e0e0e,
		100: #0e0e0e,
		200: #0e0e0e,
		300: #0e0e0e,
		400: #0e0e0e,
		500: #ffffff,
		600: #ffffff,
		700: #ffffff,
		800: #ffffff,
		900: #ffffff,
		A100: #222222,
		A200: #222222,
		A400: #ffffff,
		A700: #ffffff,
	)

)
