$mgroup-palette: (
	50: #fff,
	100: #f3e3e3,
	200: #e8c7c7,
	300: #dcacab,
	400: #d1908f,
	500: #c57473,
	600: #9e5d5c,
	700: #764645,
	800: #4f2e2e,
	900: #271717,
	A100: #ffffff,
	A200: #c57473,
	A400: #4f2e2e,
	A700: #222222,
	contrast: (
		50: #0e0e0e,
		100: #0e0e0e,
		200: #0e0e0e,
		300: #0e0e0e,
		400: #0e0e0e,
		500: #ffffff,
		600: #ffffff,
		700: #ffffff,
		800: #ffffff,
		900: #ffffff,
		A100: #222222,
		A200: #222222,
		A400: #ffffff,
		A700: #ffffff,
	),
);

$mgroup-palette-grey: (
	50 : #e8e8e8,
	100 : #c6c6c6,
	200 : #a0a0a0,
	300 : #797979,
	400 : #5d5d5d,
	500 : #404040,
	600 : #3a3a3a,
	700 : #323232,
	800 : #2a2a2a,
	900 : #1c1c1c,
	A100 : #f07777,
	A200 : #eb4949,
	A400 : #ff0202,
	A700 : #e70000,
	contrast: (
		50 : #000000,
		100 : #000000,
		200 : #000000,
		300 : #ffffff,
		400 : #ffffff,
		500 : #ffffff,
		600 : #ffffff,
		700 : #ffffff,
		800 : #ffffff,
		900 : #ffffff,
		A100 : #000000,
		A200 : #ffffff,
		A400 : #ffffff,
		A700 : #ffffff,
	)
);

$mgroup-palette-white: (
	50: #ffffff,
	100: #e6e6e6,
	200: #cccccc,
	300: #b3b3b3,
	400: #999999,
	500: #808080,
	600: #666666,
	700: #4c4c4c,
	800: #191919,
	900: #000000,
	A100: #ffffff,
	A200: #b3b3b3,
	A400: #666666,
	A700: #000000,
	contrast: (
		50: #000000,
		100: #000000,
		200: #000000,
		300: #000000,
		400: #000000,
		500: #ffffff,
		600: #ffffff,
		700: #ffffff,
		800: #ffffff,
		900: #ffffff,
		A100: #222222,
		A200: #222222,
		A400: #ffffff,
		A700: #ffffff,
	),
);
