/* ==========================================================================
   #BREAKPOINTS-VARIABLES
   ========================================================================== */

$screen-min-width: 320px;
$screen-xs-min: 375px;
$screen-sm-min: 576px;
$screen-md-min: 810px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;
$screen-ipad-pro-portrait-min: 1024px;

// additional widths

$screen-768-min: 768px;
$screen-ipad-max: 811px;
$screen-767-min: 767px;
// additional widths


$screen-ipad-max-landscape: 1180px;
$screen-ipad-max-landscapeH: 820px;

$screen-ipad-pro-potrait-width:1024px;
$screen-ipad-pro-potrait-height:1366px;

// iPad Pro 10.5

$screen-ipad-pro-10-width:782px;
$screen-ipad-pro-10-height:834px;

// iPad Pro 9

$screen-ipad-pro-9-width:694px;

