/* ==========================================================================
   #COLOR-VARIABLES
   ========================================================================== */

// Base Colors...
$theme_background_color: #eeeeee;
$white: #fff;
$black: #000;
$purple: #45197c;
$red: #ff0000;
$border-color: rgba(0, 0, 0, 0.3);
$gray: #676767;
$green: #008000;
$faded-text: rgba(
  $color: $black,
  $alpha: 0.7,
);
$bright-gray: #eeeeee;
$blue-violet: #45197c;
$light-gray: #9a9a9a;
$dark-gray: #434343;
$lavender: #f2e8ff;
$light-pink: #fff2f2;

// Utility Colors

// Derived Colors...

// RGB
