/* ==========================================================================
   #ANIMATIONS-TRANSITIONS-VARIABLES
   ========================================================================== */

$transition-duration: 250ms;
$transition-duration-slow: 500ms;
$transition-duration-fast: 100ms;

$easing: cubic-bezier(.23, 1, .32, 1);
